<!doctype HTML>
<html id="app" data-type="size-{{width}}x{{height}}">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="ad.size" content="width={{width}},height={{height}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TimelineLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js"></script>
    {SCRIPT_HEADER}
    <style>
        {SCRIPT_STYLES_COMMON}
        {SCRIPT_STYLES_CUSTOM}
    </style>
    <script type="text/javascript">
        var clickTag = "{DEFAULT_CLICK_TAG}";
    </script>
</head>
<body>
<div id="main" style="width:{{width}}px; height:{{height}}px;">
{{#is key "120x240"}}
    {{> bannerMarkup_300x250}}
{{/is}}
{{#is key "300x250"}}
    {{> bannerMarkup_300x250}}
{{/is}}
{{#is key "336x280"}}
    {{> bannerMarkup_300x250}}
{{/is}}
{{#is key "250x250"}}
    {{> bannerMarkup_300x250}}
{{/is}}
{{#is key "728x90"}}
    {{> bannerMarkup_728x90}}
{{/is}}
{{#is key "970x250"}}
    {{> bannerMarkup_728x90}}
{{/is}}
{{#is key "120x600"}}
    {{> bannerMarkup_120x600}}
{{/is}}
{{#is key "160x600"}}
    {{> bannerMarkup_120x600}}
{{/is}}
{{#is key "300x600"}}
    {{> bannerMarkup_120x600}}
{{/is}}
{{#is key "468x60"}}
    {{> bannerMarkup_468x60}}
{{/is}}
{{#is key ""}}
    {{> bannerMarkup_global}}
{{/is}}
</div>
{{> mainjs }}
<script type="text/javascript">
{SCRIPT_FOOTER}
</script>
</body>
</html>